<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">support@viktor.se</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@viktor.se</a>
</address>
