@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Brand>
<div class="item-containers-container">
    @foreach (var brand in @Model)
    {
        <div class="item-container">
            <a asp-controller="Brands" asp-action="Brand" asp-route-brandId="@brand.BrandId">
                <img src="~/images/brands/@(brand.BrandName).png">
            </a>
        </div>
    }
</div>




